@{
    ViewData["Title"] = "Aop Index Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, Autofac AOP</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
